* {
	border: 2px solid red;
}

body {
	min-height: 100vh;
	background-color: whitesmoke;
	color: #181818;
	padding: 0;
}

.content {
}

a {
	color: royalblue;
	text-decoration: none;
}

ul li a {
	color: #181818;
	text-decoration: none;
}
